.ui-tabs .inside:after, .ui-tabs .ui-tabs-nav:after, .ui-tabs:after {
    clear: both
}

.ui-tabs .inside:after, .ui-tabs .ui-tabs-nav:after, .ui-tabs-vertical .cmb2-wrap .cmb-row:after, .ui-tabs:after {
    content: ' ';
    display: block
}

div.cmb-type-tabs {
    padding: 0 !important;
    margin: -6px -12px -12px !important
}

.ui-tabs {
    position: relative;
    background-color: #F7F7F7 !important;
    background-image: none !important;
    background: #F7F7F7 !important;
    /*padding-top: 10px !important;*/
    border: none !important;
}

.cmb2-options-page div.cmb-type-tabs {
    padding: 0 !important;
    margin: 0 !important
}

.cmb2-options-page .ui-tabs {
    margin: 0 -10px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04)
}

.ui-tabs h2.hndle {
    background: #fff
}

.ui-tabs .ui-tabs-nav {
    margin: 6px 0 0 10px
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap
}

.ui-tabs .ui-tabs-nav li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 20px !important;
    margin: 0 0 -1px;
    border: 1px solid transparent;
    border-top: 2px solid #f7f7f7;
}

.ui-tabs .ui-tabs-nav li a:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.ui-tabs.ui-tabs-vertical .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    /*padding: .5em 1em;*/
    text-decoration: none;
    width: 153px;
    padding: 10px 0 10px 10px !important;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav .ui-state-active {
    border: none !important;
    background: none !important;
}

.ui-tabs.ui-tabs-horizontal .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
    border-bottom-width: 1px
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    z-index: 50 !important;
    background-color: #FFF;
    border: 1px solid #E1E1E1;
    border-bottom-color: #FFF;
    border-top: 2px solid #2EA2CC;
    margin: 0 0 -1px
}

.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: default;
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border: none !important;
    border-top: 1px solid #E1E1E1 !important;
    margin: 0 !important;
    padding: 20px !important;
    background: #fff !important;
}
/* 
 * for override jquery-ui woocommerce
 */
.ui-tabs .ui-tabs-panel {
    padding: 20px !important;
    border-width: 1px !important;
}
/* end. for override jquery-ui woocommerce */
.ui-tabs .ui-tabs-panel h3 {
    border-bottom: 1px solid #e9e9e9;
    /*padding-bottom: 20px;*/
    /*margin-bottom: 20px*/
}

.ui-tabs .inside {
    margin: 0 !important;
    padding: 0
}

.ui-tabs-vertical {
    padding-top: 0 !important;
}

.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 165px;
    margin: 10px 0 0 !important;
    position: relative;
    z-index: 10
}
/* 
 * for override jquery-ui woocommerce
 */
 .ui-tabs-vertical .ui-tabs-nav {
    padding: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border: none !important;
    background: none !important;
}
/* end. for override jquery-ui woocommerce */

.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0 !important;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-state-default {
    border: none !important;
    background: none !important;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-state-default.ui-tabs-active {
    padding-bottom: 0 !important;
    padding-right: .1em !important;
    border-right-width: 1px !important;
}

.ui-tabs-vertical .ui-tabs-nav li a {
    padding: 10px 0 10px 10px !important;
    border-top: none;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a {
    z-index: 50 !important;
    background-color: #FFF !important;
    border: 1px solid #E1E1E1 !important;
    border-right-color: #FFF !important;
    border-left: 2px solid #2EA2CC !important;
    margin: 0 -1px 0 0 !important;
    width: 153px !important;
    padding: 10px 0 10px 10px !important;
}

.ui-tabs-vertical .ui-tabs-panel {
    min-height: 200px !important;
    border: none !important;
    border-left: 1px solid #E1E1E1 !important;
    float: left !important;
    width: calc(100% - 207px) !important;
}

.ui-tabs-vertical .cmb2-wrap .cmb-row {
    margin: 6px 0 !important;
}

.ui-tabs-vertical .cmb2-wrap .cmb-row:after {
    clear: both !important;
}

.ui-tabs-vertical .cmb2-wrap .cmb-th {
    float: left;
    width: 14%;
    min-height: 32px;
    line-height: 32px;
    margin-right: 1%
}

.ui-tabs-vertical .cmb2-wrap .cmb-td {
    float: left;
    width: 85%
}

.ui-tabs-vertical .cmb2-wrap .cmb-td span.after_field {
    display: inline-block;
    width: 90px;
    font-size: 13px;
    padding: 0 5px
}