.ui-tabs .inside:after, 
.ui-tabs .ui-tabs-nav:after, 
.ui-tabs:after {
    clear: both
}

.ui-tabs .inside:after, 
.ui-tabs .ui-tabs-nav:after, 
.ui-tabs-vertical .cmb2-wrap .cmb-row:after, 
.ui-tabs:after {
    content: ' ';
    display: block
}

div.cmb-type-tabs {
    padding: 0 !important;
    margin: -6px -12px -12px !important;
}


.ui-tabs {
    background: #fff;
}
.ui-tabs {
    position: relative;
    /*
    background-color: #F7F7F7 !important;
    background: #F7F7F7 !important;
    */
    background-color: #fff !important;
    background-image: none !important;
    background: #ffffff !important;
    /*padding-top: 10px !important;*/
    border: none !important;
    padding: 0 !important;
    overflow: hidden !important;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    margin: 0 !important;
    width: 20% !important;
    float: left !important;
    line-height: 1em !important;

    padding: 0 !important;
    padding: 0 0 10px !important;
    position: relative !important;

    background: none !important;
    background-color: #fafafa !important;

    border: none !important;
    border-right: 1px solid #eee !important;
    box-sizing: border-box !important;

    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav::after {
    content: "";
    display: block;
    width: 100%;
    height: 9999em;
    position: absolute;
    bottom: -9999em;
    left: 0;
    background-color: #fafafa;
    border-right: 1px solid #eee;
}

.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;
    position: relative !important;
    float: none !important;
    background: none !important;
    background-image: none !important;
    border: none !important;
    font-size: 13px !important;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    margin: 0 !important;
    padding: 10px !important;
    display: block !important;
    box-shadow: none !important;
    text-decoration: none !important;
    line-height: 20px!important;
    border-bottom: 1px solid #eee !important;
    float: none !important;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a {
    color: #555 !important;
    position: relative !important;
    background-color: #eee !important;
}


.ui-tabs-vertical .ui-tabs-panel {
    float: left !important;
    width: 80% !important;
    min-height: 175px !important;
    box-sizing: border-box !important;
    padding: 0 !important;
}
.ui-tabs-vertical .ui-tabs-panel .cmb-row {
    padding: 1em 1.4em !important;
}
.ui-tabs-vertical .ui-tabs-panel .cmb-th label {
    font-size: 13px !important;
    font-weight: 400 !important;
}