/*
section#frontpage_approfondimenti {
	background-color: #43bbbc;
	padding: 1.5rem;
}
section#frontpage_approfondimenti .grid_custom {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap:var(--bs-gap, 1.5rem)
}
section#frontpage_approfondimenti .grid_custom .gc-col-md-8 { grid-area: 1 / 1 / 3 / 9; }
section#frontpage_approfondimenti .grid_custom .gc-col-md-4 { grid-area: 1 / 9 / 3 / 13; }
*/

/*
section#frontpage_approfondimenti .grid_custom {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
}
	
section#frontpage_approfondimenti .grid_custom .gc-col-md-8 { grid-area: 1 / 1 / 8 / 9; }
section#frontpage_approfondimenti .grid_custom .gc-col-md-4.gc-item-1 { grid-area: 1 / 9 / 4 / 13; }
section#frontpage_approfondimenti .grid_custom .gc-item-separator { grid-area: 4 / 9 / 5 / 13; }
section#frontpage_approfondimenti .grid_custom .gc-col-md-4.gc-item-2 { grid-area: 5 / 9 / 8 / 13; }
*/

section#frontpage_approfondimenti .grid_custom {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 1.5rem;
	grid-row-gap: 1.5rem;
}
	
section#frontpage_approfondimenti .grid_custom .gc-col-md-8 { grid-area: 1 / 1 / 8 / 9; }
section#frontpage_approfondimenti .grid_custom .gc-col-md-4.gc-item-1 { grid-area: 1 / 9 / 4 / 13; }
section#frontpage_approfondimenti .grid_custom .gc-col-md-4.gc-item-2 { grid-area: 4 / 9 / 7 / 13; }



section#frontpage_approfondimenti.frontpage_loop .post_item {
    margin-bottom: 0 !important;
}

section#frontpage_approfondimenti {
	background-color: var(--approfondimenti-bg);
	padding: 1.5rem;
}
section#frontpage_approfondimenti .section-title__heading {
	margin-bottom: 1.5rem !important;
}

/*
body.home #frontpage_approfondimenti .g-col-item-big figure {
	margin-bottom: 0 !important;
}
body.home #frontpage_approfondimenti .g-col-item-big .post_thumb {
	margin-bottom: 10px !important;
	border: 2px solid #e80016;
	padding: 1.5rem;
}
*/
body.home #frontpage_approfondimenti .g-col-item-big .post_item {
	border: 2px solid #e80016;
	padding: 1.5rem;
}

@media (min-width: 1025px){
	body.home #frontpage_approfondimenti figure.thumb_overlay {
		background-position: center;
		-webkit-backface-visibility: hidden !important;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		background-size: cover !important;
		background-repeat: no-repeat;
		position: relative;
		width: 100%;
	}
		
	body.home #frontpage_approfondimenti figure.thumb_overlay img {
		display: none;
	}
	
	
	section#frontpage_approfondimenti .g-col-item-big .post_title__heading,
	section#frontpage_approfondimenti .g-col-item-big .post_title__heading a {
		font-size: 24px !important;
	}
	section#frontpage_approfondimenti .g-col-item-small .post_title__heading,
	section#frontpage_approfondimenti .g-col-item-small .post_title__heading a {
		font-size: 20px !important;
	}
}
@media (min-width: 1025px) and (max-width: 1279px){
	body.home #frontpage_approfondimenti .g-col-item-big figure.thumb_overlay {
		height: 500px;
	}
	body.home #frontpage_approfondimenti .g-col-item-small figure.thumb_overlay {
		height: 190px;
	}
}
@media (min-width: 1280px){
	body.home #frontpage_approfondimenti .g-col-item-big figure.thumb_overlay {
		height: 500px;
	}
	body.home #frontpage_approfondimenti .g-col-item-small figure.thumb_overlay {
		height: 200px;
	}
}
@media (max-width: 1024px){
	body.home #frontpage_approfondimenti figure.thumb_overlay {
		background-image: none;
	}
	section#frontpage_approfondimenti .g-col-item-big .post_title__heading,
	section#frontpage_approfondimenti .g-col-item-big .post_title__heading a {
		font-size: 24px !important;
	}
	body.home #frontpage_approfondimenti .g-col-item-small .post_item:first-child {
		margin-bottom: 1.5rem !important;
	}
}