/* SIDR
================================================== */
.sidr{
	display:none;
	position:absolute;
	position:fixed;
	/*top:115px;*/
	height:100%;
	/*z-index:999999;*/
	overflow-x:none;
	overflow-y:auto;
}



.sidr {
	background: transparent;
}
.sidr {
	width: 100% !important;
}
#sidr-secondary {
	width: 360px !important;
}

/*
@media (min-width: 480px){
	.sidr {
		width: 360px !important;
	}
}
@media (max-width: 479px){
	.sidr {
		width: 100% !important;
	}
}
*/
.sidr.right{left:auto;right:-360px}
.sidr.left{left:-360px;right:auto}

.sidr ul li ul,.sidr ul li ul li:last-child{border-bottom:none}

.sidr .sidr-inner{
	/*
	padding:0 0 15px;
	height:100%;
	*/
	padding: 30px 0 40px;
	overflow:auto;
	width:100%;
	height: auto;
	margin:auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

.sidr .sidr-inner>p{margin-left:15px;margin-right:15px}

.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6{font-size:11px;font-weight:400;padding:0 15px;margin:0 0 5px}
.sidr label,.sidr p{font-size:13px}
.sidr p{margin:0 0 12px}.sidr p a{color:rgba(255,255,255,.9)}
.sidr>p{margin-left:15px;margin-right:15px}



.sidr ul li ul{margin:0; padding:0;}
.sidr ul li ul li{line-height:40px}
.sidr ul li ul li.active,
.sidr ul li ul li.sidr-class-active,
.sidr ul li ul li:hover{border-top:none;line-height:40px}



.sidr form{margin:0 15px}.sidr input[type=text],.sidr input[type=password],.sidr input[type=date],.sidr input[type=datetime],.sidr input[type=email],.sidr input[type=number],.sidr input[type=search],.sidr input[type=tel],.sidr input[type=time],.sidr input[type=url],.sidr select,.sidr textarea{width:100%;font-size:13px;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border:none;background:rgba(0,0,0,.1);color:rgba(255,255,255,.6);display:block;clear:both}
.sidr input[type=checkbox]{width:auto;display:inline;clear:none}
.sidr input[type=button],.sidr input[type=submit]{color:#333;background:#fff}.sidr input[type=button]:hover,.sidr input[type=submit]:hover{background:rgba(255,255,255,.9)}

.sidr-class-close{
	font-size:25px;
	float:right;
	/*margin-right:20px;*/
	margin-top:15px;
	font-weight:700;
	height:40px;
	cursor:pointer;
	
	margin-right: 15px;
    position: absolute;
    right: 0;
}



.sidr-class-bi::before, 
[class*=" sidr-class-bi-"]::before, 
[class^=sidr-class-bi-]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400!important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
.sidr-class-fa{font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;display:inline-block}
.sidr-class-fa-times:before{content:"\f00d";}
.sidr-class-fa-angle-down:before{content: "\f107";}
*/






/*
@media (max-width: 604px){
	.sidr ul li a,
	.sidr ul li span{
		min-height: 80px;
	}
}
@media (min-width: 605px){
	.sidr ul li a br,
	.sidr ul li span br{
		display: none !important;
	}
}
*/



.sidr ul li.sidr-class-menu-item-has-children a i{}

.sidr-class-close{color:#fff}


/*
a.btn-navbar span.icon-bar{width:24px;height:4px;display:block;margin-bottom:3px;margin-right:0!important}
a.btn-navbar span.icon-bar:last-child{margin-bottom:0}
a.btn-navbar{padding:5px!important;background:0 0!important;text-shadow:none!important;box-shadow:none!important}

a.btn-navbar{border:1px solid #ffffff}
a.btn-navbar span.icon-bar{background:#ffffff}
*/


