#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon {
    color: #f0f0f1 !important;
}

::selection {
    background-color: var(--home);
    color: white;
}
::-moz-selection {
    background-color: var(--home);
    color: white;
}


::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb {
    background: var(--other);
    border-radius: 5px;
    -webkit-box-shadow:inset 0 0 4px rgba(0, 0, 0, .5);
}


.header .stickydown_menu_holder,
.header .stickup_menu_holder {
	z-index: 99;
	background: #fff;
}

.stickup-wrapper.stickup-wrapper-menu {
	border-top: 1px solid var(--grigio);
	border-bottom: 1px solid var(--grigio);
}


@media (min-width: 1025px){
    .header-item-wrapper .header-item {
        --logowidthdesk_stickup: 45%;
		--logowidthdesk_stickdown: 20%;
    }
    .stickup_menu_holder .header-item-logo {
		width: var(--logowidthdesk_stickup);
	}
	.stickup_menu_holder .header-item-hamburger__secondary,
	.stickup_menu_holder .header-item-social__desktop {
		width: calc((100% - var(--logowidthdesk_stickup)) * .5);
	}

	.stickydown_menu_holder .header-item-logo {
		width: var(--logowidthdesk_stickdown);
	}

    .stickup_menu_holder .header-item-logo img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 1280px){
	/*
	.stickydown_menu_holder .header-item-logo {
		max-width: 18%;
	}
	.stickydown_menu_holder .header-item-logo img {
		max-width: 70%;
	}
	*/
}
@media (min-width: 1025px) and (max-width: 1279px){
	/*
	.stickydown_menu_holder .header-item-logo {
		max-width: 13%;
	}
	
	.stickydown_menu_holder .header-item-logo img {
		max-width: 80%;
	}
	*/
}

@media (max-width: 1024px){
    .stickup_menu_holder .header-item-logo img,
	.stickydown_menu_holder .header-item-logo img {
		max-height: 70px;
		width: auto;
	}
}

.nav__primary_scrolled #topnav > li > a,
.nav__primary #topnav > li > a {
	text-transform: uppercase;
}


.nav__primary_scrolled #topnav li a:hover,
.nav__primary #topnav li a:hover,
.nav__primary_scrolled #topnav li.current-menu-ancestor a,
.nav__primary #topnav li.current-menu-ancestor>a,
.nav__primary_scrolled #topnav li.current-menu-item a,
.nav__primary #topnav li.current-menu-item>a {
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
.nav__primary_scrolled #topnav li a:hover,
.nav__primary #topnav li a:hover,
.nav__primary_scrolled #topnav li.current-menu-ancestor a,
.nav__primary #topnav li.current-menu-ancestor>a,
.nav__primary_scrolled #topnav li.current-menu-item a,
.nav__primary #topnav li.current-menu-item>a {
	color: var(--other) !important;
}

body.home .nav__primary_scrolled #topnav li a:hover,
body.home .nav__primary #topnav li a:hover,
body.home .nav__primary_scrolled #topnav li.current-menu-ancestor a,
body.home .nav__primary #topnav li.current-menu-ancestor>a,
body.home .nav__primary_scrolled #topnav li.current-menu-item a,
body.home .nav__primary #topnav li.current-menu-item>a {
	color: var(--home) !important;
}

body[class*="-profumeria"] .nav__primary_scrolled #topnav li a:hover,
body[class*="-profumeria"] .nav__primary #topnav li a:hover,
body[class*="-profumeria"] .nav__primary_scrolled #topnav li.current-menu-ancestor a,
body[class*="-profumeria"] .nav__primary #topnav li.current-menu-ancestor>a,
body[class*="-profumeria"] .nav__primary_scrolled #topnav li.current-menu-item a,
body[class*="-profumeria"] .nav__primary #topnav li.current-menu-item>a {
	color: var(--profumeria) !important;
}
body[class*="-farmacia"] .nav__primary_scrolled #topnav li a:hover,
body[class*="-farmacia"] .nav__primary #topnav li a:hover,
body[class*="-farmacia"] .nav__primary_scrolled #topnav li.current-menu-ancestor a,
body[class*="-farmacia"] .nav__primary #topnav li.current-menu-ancestor>a,
body[class*="-farmacia"] .nav__primary_scrolled #topnav li.current-menu-item a,
body[class*="-farmacia"] .nav__primary #topnav li.current-menu-item>a {
	color: var(--farmacia) !important;
}





.header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu,
.header .nav__primary .sf-menu>.menu-item>.sub-menu{

	left:0%;
	margin-top:0px;
	
	top:100%;
	border:none;
	
	border-radius:0;
	z-index:10;

	width: auto;

	margin-left: 0 !important;
	padding: 0 !important;
	box-shadow: 1px 1px 30px rgba(0,0,0,.06) !important;

	border: 1px solid #eee;
	
}
.header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu,
.header .nav__primary .sf-menu>.menu-item>.sub-menu{
	border-top: 4px solid var(--other) !important;
}
body.home .header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu,
body.home .header .nav__primary .sf-menu>.menu-item>.sub-menu{
	border-top: 4px solid var(--home) !important;
}
body[class*="-profumeria"] .header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu,
body[class*="-profumeria"] .header .nav__primary .sf-menu>.menu-item>.sub-menu{
	border-top: 4px solid var(--profumeria) !important;
}
body[class*="-farmacia"] .header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu,
body[class*="-farmacia"] .header .nav__primary .sf-menu>.menu-item>.sub-menu{
	border-top: 4px solid var(--farmacia) !important;
}




.header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .menu-item,
.header .nav__primary .sf-menu>.menu-item>.sub-menu .menu-item{
	text-align:left;
	padding:0;
	border:none;
	border-top:none;
	position:relative;
}

.header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .menu-item>a,
.header .nav__primary .sf-menu>.menu-item>.sub-menu .menu-item>a {
	border:none;
	
	display:block;

	white-space: nowrap;
	
	text-transform: uppercase;
	text-decoration: none !important;

	padding: 10px 15px !important;

	color: var(--nero) !important;
	background-color: rgba(255,255,255, 0.9) !important;
	
	
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}

.header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .menu-item>a:hover,
.header .nav__primary .sf-menu>.menu-item>.sub-menu .menu-item>a:hover,
.header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .current-menu-item>a,
.header .nav__primary .sf-menu>.menu-item>.sub-menu .current-menu-item>a {

	background-color: rgba(255,255,255, 1) !important;

	font-weight: bold !important;
		
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
.header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .menu-item>a:hover,
.header .nav__primary .sf-menu>.menu-item>.sub-menu .menu-item>a:hover,
.header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .current-menu-item>a,
.header .nav__primary .sf-menu>.menu-item>.sub-menu .current-menu-item>a {
	color: var(--other) !important;
}
body.home .header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .menu-item>a:hover,
body.home .header .nav__primary .sf-menu>.menu-item>.sub-menu .menu-item>a:hover,
body.home .header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .current-menu-item>a,
body.home .header .nav__primary .sf-menu>.menu-item>.sub-menu .current-menu-item>a {
	color: var(--home) !important;
}
body[class*="-profumeria"] .header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .menu-item>a:hover,
body[class*="-profumeria"] .header .nav__primary .sf-menu>.menu-item>.sub-menu .menu-item>a:hover,
body[class*="-profumeria"] .header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .current-menu-item>a,
body[class*="-profumeria"] .header .nav__primary .sf-menu>.menu-item>.sub-menu .current-menu-item>a {
	color: var(--profumeria) !important;
}
body[class*="-farmacia"] .header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .menu-item>a:hover,
body[class*="-farmacia"] .header .nav__primary .sf-menu>.menu-item>.sub-menu .menu-item>a:hover,
body[class*="-farmacia"] .header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .current-menu-item>a,
body[class*="-farmacia"] .header .nav__primary .sf-menu>.menu-item>.sub-menu .current-menu-item>a {
	color: var(--farmacia) !important;
}

@media (min-width: 1025px) and (max-width: 1279px){
	.header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .menu-item>a,
	.header .nav__primary .sf-menu>.menu-item>.sub-menu .menu-item>a{
		font-size: 14px;
	}
}
@media (min-width: 1280px){
	.header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .menu-item>a,
	.header .nav__primary .sf-menu>.menu-item>.sub-menu .menu-item>a{
		font-size: 14px;
	}
}
.header .nav__primary_scrolled .sf-menu>.menu-item>.sub-menu .menu-item:not(:last-child)>a,
.header .nav__primary .sf-menu>.menu-item>.sub-menu .menu-item:not(:last-child)>a {
	border-bottom: 1px solid #fff;
}




.title-section .title-header,
section .section-title {
	font-size: 30px;
	line-height: 40px;	
	font-weight: bold;
}
@media (max-width: 767px){
	.title-section .title-header,
	section .section-title {
		font-size: 24px;
	}
}
.title-section .title-header {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 30px;
	padding-top: 50px;
	
}

.title-section .title-header,
section .section-title {
	color: var(--other);
}
.title-section .title-header {
	border-bottom: 2px solid var(--other);
}
body.home .title-section .title-header,
body.home section .section-title {
	color: var(--home);
}
body.home .title-section .title-header {
	border-bottom: 2px solid var(--home);
}

body[class*="-profumeria"] .title-section .title-header,
body[class*="-profumeria"] section .section-title {
	color: var(--profumeria);
}
body[class*="-profumeria"] .title-section .title-header {
	border-bottom: 2px solid var(--profumeria);
}

body[class*="-farmacia"] .title-section .title-header,
body[class*="-farmacia"] section .section-title {
	color: var(--farmacia);
}
body[class*="-farmacia"] .title-section .title-header {
	border-bottom: 2px solid var(--farmacia);
}



.section-title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section-title-flex .section-title__heading {
    /*text-transform: uppercase;*/
}
.section-title-flex .section-title__heading, 
.section-title-flex .hr-section-title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.section-title-flex .hr-section-title {
    flex: 1 1 auto;
    height: 2px !important;
    margin-left: 10px;
}
.section-title-flex .hr-section-title {
	background: var(--other) !important;
}
body.home .section-title-flex .hr-section-title {
	background: var(--home) !important;
}
body[class*="-profumeria"] .section-title-flex .hr-section-title {
	background: var(--profumeria) !important;
}
body[class*="-farmacia"] .section-title-flex .hr-section-title {
	background: var(--farmacia) !important;
}


.section-title-flex .cta_all {
    margin-left: 10px;
}
.section-all-permalink .cta_all a, 
.section-title-flex .cta_all a {
    text-decoration: none;
    color: var(--bianco) !important;
    
    display: block;
    text-align: center;
    width: 100%;
    /*padding: 5px 15px;*/
    font-size: 14px;
    font-weight: 600;
}
.section-all-permalink .cta_all a, 
.section-title-flex .cta_all a {
	background: var(--other);
}
body.home .section-all-permalink .cta_all a, 
body.home .section-title-flex .cta_all a {
	background: var(--home);
}
body[class*="-profumeria"] .section-all-permalink .cta_all a, 
body[class*="-profumeria"] .section-title-flex .cta_all a {
	background: var(--profumeria);
}
body[class*="-farmacia"] .section-all-permalink .cta_all a, 
body[class*="-farmacia"] .section-title-flex .cta_all a {
	background: var(--farmacia);
}


.section-title-flex .cta_all a {
	padding: 0 15px;
}
.section-all-permalink .cta_all a {
	padding: 10px 15px;
}
@media (max-width: 767px){
	.section-title-flex .cta_all {
		display: none;
	}
}
@media (min-width: 768px){
	.section-all-permalink.hiden-min-768 {
		display: none;
	}
}

/*
body.home #frontpage_latest .section-title {
	color: var(--verde) !important;
}
body.home #frontpage_latest .section-title-flex .hr-section-title {
    background: var(--verde) !important;
}
body.home #frontpage_latest .section-all-permalink .cta_all a, 
body.home #frontpage_latest .section-title-flex .cta_all a {
    color: var(--bianco) !important;
    background: var(--verde) !important;
}
*/


a.cta_btn {
	display: block;
	max-width: max-content;
	padding: 10px 25px;
	
	
	color: #fff !important;
	
	font-size: 18px;
	/*text-transform: uppercase;*/
	text-decoration: none !important;
	
	font-weight: bold;
}
a.cta_btn {
	background-color: var(--other);
}
body.home a.cta_btn {
	background-color: var(--home);
}
body[class*="-profumeria"] a.cta_btn {
	background-color: var(--profumeria);
}
body[class*="-farmacia"] a.cta_btn {
	background-color: var(--farmacia);
}


.post_content a {
	text-decoration: underline !important;
	text-underline-offset: 3px;
}
.post_content a {
	color: var(--other) !important;
}
body.home .post_content a {
	color: var(--home) !important;
}
body[class*="-profumeria"] .post_content a {
	color: var(--profumeria) !important;
}
body[class*="-farmacia"] .post_content a {
	color: var(--farmacia) !important;
}


#sidebar aside#editoriale {
    border-radius: 0.9rem;
    padding: 0.5rem;
}
#sidebar aside#editoriale {
	border: 1px solid var(--other);
}
body.home #sidebar aside#editoriale {
	border: 1px solid var(--home);
}
body[class*="-profumeria"] #sidebar aside#editoriale {
	border: 1px solid var(--profumeria);
}
body[class*="-farmacia"] #sidebar aside#editoriale {
	border: 1px solid var(--farmacia);
}

#sidebar aside#editoriale .editoriale-flex .editoriale-autore {
	color: var(--other) !important;
}
body.home #sidebar aside#editoriale .editoriale-flex .editoriale-autore {
	color: var(--home) !important;
}
body[class*="-profumeria"] #sidebar aside#editoriale .editoriale-flex .editoriale-autore {
	color: var(--profumeria) !important;
}
body[class*="-farmacia"] #sidebar aside#editoriale .editoriale-flex .editoriale-autore {
	color: var(--farmacia) !important;
}




section#frontpage_approfondimenti_v1 {
	/*
	background-color: var(--approfondimenti-bg);
	--approfondimenti-bg: #43bbbc;
	*/
	background-color: rgba(67, 187, 188, 0.6);
	padding: 1.5rem;
}
section#frontpage_approfondimenti_v1 .section-title__heading {
	margin-bottom: 1.5rem !important;
	color: #246464 !important;
}
section#frontpage_approfondimenti_v1 .post_title__heading,
section#frontpage_approfondimenti_v1 .post_title__heading a {
	color: #246464 !important;
}
body.home #frontpage_approfondimenti_v1 .g-col-item-big {
	border: 2px solid var(--bianco);
	padding: 1.5rem;
}


section#frontpage_approfondimenti_v2 {
	background-color: #bc8d9d;
	padding: 1.5rem;

    outline: 1px solid var(--bianco);
    outline-offset: -1rem;
}
section#frontpage_approfondimenti_v2 .section-title__heading {
	margin-bottom: 1.5rem !important;
    color: var(--nero) !important;
}
section#frontpage_approfondimenti_v2 .post_title__heading,
section#frontpage_approfondimenti_v2 .post_title__heading a {
	color: #246464 !important;
}


/*
body:not(.category-news, .single) .post_meta {
	display: none !important;
}
*/
body:not(.category, .single) .post_meta {
	display: none !important;
}



body.category-rivista #rivista_tabs .nav-tabs li a,
body.category-rivista #rivista_tabs .nav-tabs li button {
    text-transform: uppercase !important;
    text-decoration: none !important;
    border-radius: 0 !important;
	color: #fcb11e !important;
	border: none !important;
}
body.category-rivista #rivista_tabs .nav-tabs>li.active>a,
body.category-rivista #rivista_tabs .nav-tabs li button.active {
	color: #fff !important;
    cursor: default !important;
    background-color: #fcb11e !important;
    border: none !important;
    border-bottom-color: transparent;
    text-decoration: none !important;
}
body.category-rivista #rivista_tabs .nav-tabs li button:not(.active):hover {
	color: #fff !important;
    cursor: pointer !important;
    background-color: var(--grigio) !important;
    border: none !important;
    border-bottom-color: transparent;
    text-decoration: none !important;
}
body.category-rivista #rivista_tabs .tab-content {
    background: var(--grigio) !important;
    padding: 1rem !important;
	font-size: 14px !important;
}

body.category-rivista #riviste_latest .rivista_item {
	margin-bottom: 3rem;
}



body.single .sfogliatore-pdf-permalink a,
body.single .rivista-pdf-permalink a,
body.category #category_rivista_mediakit .mediakit-pdf-permalink a,
body.category #rivista_cover_last .rivista-pdf-permalink a {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	max-width: fit-content !important;
	text-decoration: none !important;
	text-transform: uppercase !important;

	/*background-color: var(--primario) !important;*/
	background-color: var(--other) !important;
	color: var(--bianco) !important;
	padding: 0.5rem 1.5rem;

	font-size: 24px !important
}
body.single[class*="-profumeria"] .sfogliatore-pdf-permalink a,
body.single[class*="-profumeria"] .rivista-pdf-permalink a,
body.category[class*="-profumeria"] #category_rivista_mediakit .mediakit-pdf-permalink a,
body.category[class*="-profumeria"] #rivista_cover_last .rivista-pdf-permalink a {
	background-color: var(--profumeria) !important;
}
body.single[class*="-farmacia"] .sfogliatore-pdf-permalink a,
body.single[class*="-farmacia"] .rivista-pdf-permalink a,
body.category[class*="-farmacia"] #category_rivista_mediakit .mediakit-pdf-permalink a,
body.category[class*="-farmacia"] #rivista_cover_last .rivista-pdf-permalink a {
	background-color: var(--farmacia) !important;
}

/*
#sidebar aside#editoriale .editoriale-flex .editoriale-autore {
	color: var(--other) !important;
}
body.home #sidebar aside#editoriale .editoriale-flex .editoriale-autore {
	color: var(--home) !important;
}
body[class*="-profumeria"] #sidebar aside#editoriale .editoriale-flex .editoriale-autore {
	color: var(--profumeria) !important;
}
body[class*="-farmacia"] #sidebar aside#editoriale .editoriale-flex .editoriale-autore {
	color: var(--farmacia) !important;
}
*/


body.single .single_post_title__heading {
	font-family: 'PlayfairDisplay-SemiBold' !important;
}
body.single .post_excerpt {
	color: #777777 !important;
	font-size: 22px !important;
}


.pagination .pagination-list__inner .prev a,
.pagination .pagination-list__inner .next a,
.pagination .pagination-list__inner .active span,
.pagination .pagination-list__inner .inactive a {
	border: 2px solid var(--other);
}
.pagination .pagination-list__inner .prev a:hover,
.pagination .pagination-list__inner .next a:hover,
.pagination .pagination-list__inner .prev a:focus,
.pagination .pagination-list__inner .next a:focus,
.pagination .pagination-list__inner .active span,
.pagination .pagination-list__inner .inactive a:hover,
.pagination .pagination-list__inner .inactive a:focus {
	background-color: var(--other);
	color: #fff !important;
}
.pagination .pagination-list__inner .inactive a {
	background-color: transparent;
	color: var(--other);
}


body[class*="-profumeria"] .pagination .pagination-list__inner .prev a,
body[class*="-profumeria"] .pagination .pagination-list__inner .next a,
body[class*="-profumeria"] .pagination .pagination-list__inner .active span,
body[class*="-profumeria"] .pagination .pagination-list__inner .inactive a {
	border: 2px solid var(--profumeria);
}
body[class*="-profumeria"] .pagination .pagination-list__inner .prev a:hover,
body[class*="-profumeria"] .pagination .pagination-list__inner .next a:hover,
body[class*="-profumeria"] .pagination .pagination-list__inner .prev a:focus,
body[class*="-profumeria"] .pagination .pagination-list__inner .next a:focus,
body[class*="-profumeria"] .pagination .pagination-list__inner .active span,
body[class*="-profumeria"] .pagination .pagination-list__inner .inactive a:hover,
body[class*="-profumeria"] .pagination .pagination-list__inner .inactive a:focus {
	background-color: var(--profumeria);
	color: #fff !important;
}
body[class*="-profumeria"] .pagination .pagination-list__inner .inactive a {
	background-color: transparent;
	color: var(--profumeria);
}


body[class*="-farmacia"] .pagination .pagination-list__inner .prev a,
body[class*="-farmacia"] .pagination .pagination-list__inner .next a,
body[class*="-farmacia"] .pagination .pagination-list__inner .active span,
body[class*="-farmacia"] .pagination .pagination-list__inner .inactive a {
	border: 2px solid var(--farmacia);
}
body[class*="-farmacia"] .pagination .pagination-list__inner .prev a:hover,
body[class*="-farmacia"] .pagination .pagination-list__inner .next a:hover,
body[class*="-farmacia"] .pagination .pagination-list__inner .prev a:focus,
body[class*="-farmacia"] .pagination .pagination-list__inner .next a:focus,
body[class*="-farmacia"] .pagination .pagination-list__inner .active span,
body[class*="-farmacia"] .pagination .pagination-list__inner .inactive a:hover,
body[class*="-farmacia"] .pagination .pagination-list__inner .inactive a:focus {
	background-color: var(--farmacia);
	color: #fff !important;
}
body[class*="-farmacia"] .pagination .pagination-list__inner .inactive a {
	background-color: transparent;
	color: var(--farmacia);
}


#rivista_infos .rivista_info_group_wrap .rivista_info_group_loop .rivista_info_group_item {
    -webkit-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    align-self: auto;

	padding: 2px 14px 1px 15px;
    border-left: 1px solid #E9E9E9;

	margin-right: 3px;
	margin-bottom: 2.5rem;
}
#rivista_infos .rivista_info_group_wrap .rivista_info_group_loop .rivista_info_group_item .rivista_info_group_value {
	margin-bottom: 8px;
	font-size: 16px !important;
    font-weight: 700;
    color: #C30F1B;
}
#rivista_infos .rivista_info_group_wrap .rivista_info_group_loop .rivista_info_group_item .rivista_info_group_value a {
	color: #C30F1B !important;
	text-underline-offset: 3px !important;
}

#pubblicita_download {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #f8f8f8;
}
#pubblicita_download .pubblicita_download_wrap .pubblicita_download_item .pubblicita_download_group_pdf a {
	display: block !important;
	max-width: fit-content !important;
	background-color: var(--other) !important;
	color: var(--bianco) !important;
	padding: 0.5rem 1.5rem !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
}



footer#fbp .footer-columns {
    background-color: var(--perla);
    padding-top: 3rem;
	padding-bottom: 3rem;
}
footer#fbp .footer-columns * {
    color: var(--nero111) !important;
}
footer#fbp .footer-copyright {
    background-color: var(--nero);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
footer#fbp .footer-copyright * {
    color: var(--bianco) !important;
}
footer#fbp .footer-logo img {
	max-height: 80px;
	width: auto;
}



.wpcf7 p.field {
	margin-bottom: 0;
}
.wpcf7 .col-item {
	margin-bottom: 25px;
}
.wpcf7 p.field input,
.wpcf7 p.field textarea {
	border: 1px solid var(--bianco) !important;
	box-shadow: none !important;
	font-weight: 400 !important;
	width: 100% !important;
	display: block !important;
	color: var(--primario) !important;
	padding: 5px 15px !important;
	
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}
.wpcf7 p.field input:focus,
.wpcf7 p.field textarea:focus {
	outline: 0 !important;
}
.wpcf7 p.field textarea {
	max-height: 200px;
}

.wpcf7 p.field input::placeholder,
.wpcf7 p.field textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--primario);
	opacity: 0.5; /* Firefox */
	text-transform: uppercase;
}

.wpcf7 p.field input:-ms-input-placeholder,
.wpcf7 p.field textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--primario);
	opacity: 0.5;
	text-transform: uppercase;
}

.wpcf7 p.field input::-ms-input-placeholder,
.wpcf7 p.field textarea::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--primario);
	opacity: 0.5;
	text-transform: uppercase;
}

.wpcf7 p.submit-wrap input[type="submit"] {
	background: transparent !important;
	border: 1px solid var(--bianco) !important;
	color: var(--bianco) !important;
	text-transform: uppercase !important;
	padding: 7px 45px !important;
	/*max-width: 200px !important;*/
	
	box-shadow: none !important;
	text-shadow: none !important;
	
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	
	transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.wpcf7 p.submit-wrap input[type="submit"]:hover,
.wpcf7 p.submit-wrap input[type="submit"]:focus {
	background: #fff !important;
	border: 1px solid var(--primario) !important;
	color: var(--primario) !important;
	
	transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.wpcf7 .wpcf7-spinner {
	position: absolute !important;
	right: 15px !important;
	margin: 0 !important;
}

 
.acceptance-privacy .text-acceptance {
	color: var(--bianco) !important;
}
.acceptance-privacy .text-acceptance a {
	color: var(--bianco) !important;
	font-weight: 500 !important;
	text-decoration: underline !important;
}
.wpcf7 .acceptance-privacy label {
	font-weight: 400 !important;
}
.wpcf7 .acceptance-privacy .wpcf7-list-item {
	margin-left: 40px !important;
}
.wpcf7 .acceptance-privacy .wpcf7-list-item:first-child {
	margin-left: 0 !important;
}
.acceptance-privacy label {
	position: relative;
	cursor: pointer;
}
.acceptance-privacy input[type=checkbox] {
	/*position: relative;*/
	position: absolute;
	visibility: hidden;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
}
.acceptance-privacy input[type=checkbox] + span {
	/* border: 3px solid red; */
}
.acceptance-privacy input[type=checkbox] + span:before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 0;
	height: 20px;
	width: 20px;
	/*
	top: 50%;
	transform: translateY(-50%);
	*/
	top: 7px;
	left: 0px;
	border: 1px solid var(--bianco);
}
.acceptance-privacy input[type=checkbox] + span:after {
	display: block;
	position: absolute;
	content: "\2713";
	color: var(--nero);
	height: 20px;
	width: 20px;
	/*
	top: 50%;
	transform: translateY(-50%);
	*/
	top: 7px;
	left: 0;
	visibility: hidden;
	font-size: 18px;
	text-align: center;
	line-height: 20px;
}
.acceptance-privacy input[type=checkbox]:checked + span:before {
	background: transparent;
}
.acceptance-privacy input[type=checkbox]:checked + span:after {
	visibility: visible;
}
.acceptance-privacy .wpcf7-list-item-label {
	margin-left: 30px;
	display: inline-block;
}


@media (min-width: 1025px){
	body.sidr-open .mvp-fly-fade {
		opacity: .7;
		height: 100%;

		transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-webkit-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
	}
	.mvp-fly-fade {
		background: #000;
		opacity: 0;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99999;

		transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-webkit-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
	}
}


#back-top-wrapper {
    position: fixed;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
    z-index: 700;
}
#back-top {
    display: none;
}
#back-top a {
    width: 40px;
    height: 40px;
}
#back-top a {
    text-decoration: none !important;
    display: block;
    text-align: center;
    text-transform: uppercase;
}
#back-top a span {
    width: 100%;
    height: 100%;
    background: 0 0;
}
#back-top a span:before {
	color: #fff !important;
    width: 40px;
    height: 40px;
    
    line-height: 38px;
    border-radius: 5px;

	/*
	content: "\f106";
	font: 25px/25px FontAwesome;
	*/

	content: "\f286";
	font-family: bootstrap-icons!important;
	font-style: normal;
    font-weight: 400!important;
    font-variant: normal;
    text-transform: none;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#back-top a span:before {
    background: var(--other);
}
body.home #back-top a span:before {
    background: var(--home);
}
body[class*="-profumeria"] #back-top a span:before {
    background: var(--profumeria);
}
body[class*="-farmacia"] #back-top a span:before {
    background: var(--farmacia);
}
/*
.sidr-class-bi::before, 
[class*=" sidr-class-bi-"]::before, 
[class^=sidr-class-bi-]::before {
    display: inline-block;
    font-family: bootstrap-icons!important;
    font-style: normal;
    font-weight: 400!important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sidr-class-bi-x-lg::before {
	content: "\f659";
}
*/
#back-top a span:before {
    position: absolute;
    display: block;
    padding: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    top: 0;
    left: 0;
    text-align: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}



.sidr-class-bi-x-lg::before {
	content: "\f659";
}
.sidr-class-bi-chevron-compact-down::before {
	content: "\F279";
}
.sidr-class-secondary-nav-close-wrap {
	cursor: pointer !important;
	position: absolute;
	top: 10px;
	right: 10px;
	color: var(--nero) !important;
}
#sidr-secondary.sidr .sidr-inner:first-child {
	padding-top: 0 !important;
	padding-bottom: 30px !important;
}
#sidr-secondary.sidr .sidr-inner:nth-of-type(2){
	padding-bottom: 0px !important;
}
#sidr-secondary.sidr .sidr-inner {
	max-width: 90% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}


@media (min-width: 1025px){
	.sidr {
		z-index:-1;
	}
	#sidr_scrolled.sidr,
	#sidr-secondary.sidr {
		z-index:999998;
	}
	/*
	.sidr.left {
		top: 200px;
	}
	*/
	#sidr-secondary.sidr.left {
		top: 0 !important;
	}
}
@media (max-width: 1024px){
	.sidr {
		z-index:999998;
	}
	/*
	.sidr.left {
		top: 130px;
	}
	*/
}
.sidr ul#sidr-id-topnav{
	display:block;
	/*
	margin:0 0 15px;
	padding:0;
	*/
	margin: 0 0 30px;
	padding: 0 0 0;
	
	/*
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	*/
}
.sidr ul li{
	position: relative;
	display:block;
	margin:0;
	line-height:48px;

}
.sidr ul li.active,
.sidr ul li.sidr-class-active,
.sidr ul li:hover{border-top:none;line-height:48px}

.sidr ul li a,.sidr ul li span{
	/*
	padding:0 15px;
	*/
	display:block;
	text-decoration:none !important;
	
	/*padding: 15px 50px 15px 15px;*/
	padding: 15px;
}
.sidr ul li.sidr-class-menu-item-has-children a i {
	position: absolute;
	color: #fff;
	
	font-size: 25px;
	
	top: 15px;
	
	/*right: 15px;*/
	right: 22px;
	
	transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.sidr ul li.sidr-class-menu-item-has-children.open a i {
    transform-origin: 0 0;
    transform: rotate(180deg);
    /* Safari */
    -webkit-transform: rotate(180deg);
    /* Firefox */
    -moz-transform: rotate(180deg);
    /* IE */
    -ms-transform: rotate(180deg);
    /* Opera */
    -o-transform: rotate(180deg);
    /* Internet Explorer */
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
	
	top: 40px;
	right: 5px;
	
	transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.sidr ul li a,
.sidr ul li span{
	color:#fff;
	font-size:18px;
	line-height:24px;
	font-weight:400;

	text-transform:uppercase;
	text-decoration:none !important;
}

.sidr ul li ul li a,
.sidr ul li ul li span{
	padding-left:45px !important;
	
	font-size: 16px;
	text-transform: none;
	text-decoration: none !important;
}

p#btnRespNav span.icon-bar{
	width:30px;
	height:4px;
	display:block;
	
	/*margin-bottom:3px;*/
	/*margin-bottom: 6px;*/
	
	margin-right:0!important;
	
	transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
p#btnRespNav span.icon-bar:last-child{margin-bottom:0}

p#btnRespNav {
	/*
	padding:5px!important;
	padding: 0 0 3px !important;
	*/
	
	background:0 0!important;
	text-shadow:none!important;
	box-shadow:none!important;
	border: none !important;
	
	/*
	margin-top: 35px !important;
	margin-top: 31px !important;
	*/
	
	margin-bottom: 0 !important;
	cursor: pointer !important;
}

p#btnRespNav span.icon-bar{
	/*margin-bottom: 6px;*/
	margin-bottom: 3px;
}
body.sidr-open p#btnRespNav span.icon-bar{
	margin-bottom: 3px;
}

p#btnRespNav span.icon-bar {
		
	transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
body.sidr-open p#btnRespNav span.icon-bar {
	transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
p#btnRespNav span.icon-bar,
body.sidr-open p#btnRespNav span.icon-bar {
	background: var(--other);
}
body.home p#btnRespNav span.icon-bar,
body.sidr-open.home p#btnRespNav span.icon-bar {
	background: var(--home);
}
body[class*="-profumeria"] p#btnRespNav span.icon-bar,
body.sidr-open[class*="-profumeria"] p#btnRespNav span.icon-bar {
	background: var(--profumeria);
}
body[class*="-farmacia"] p#btnRespNav span.icon-bar,
body.sidr-open[class*="-farmacia"] p#btnRespNav span.icon-bar {
	background: var(--farmacia);
}

body.sidr-open p#btnRespNav span.icon-bar:first-child {
	transform: rotate(45deg) !important;
    margin-bottom: 0 !important;
	
	transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
body.sidr-open p#btnRespNav span.icon-bar:last-child {
	transform: rotate(-45deg) !important;
    margin-top: -11px !important;
	
	transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
body.sidr-open p#btnRespNav span.icon-bar:nth-child(2) {
	opacity: 0;
	
	transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}



.sidr,
.sidr .sidr-inner{
	background:var(--other);
}
body.home .sidr,
body.home .sidr .sidr-inner{
	background:var(--home);
}
body[class*="-profumeria"] .sidr,
body[class*="-profumeria"] .sidr .sidr-inner{
	background:var(--profumeria);
}
body[class*="-farmacia"] .sidr,
body[class*="-farmacia"] .sidr .sidr-inner{
	background:var(--farmacia);
}


#sidr-secondary.sidr,
#sidr-secondary.sidr .sidr-inner {
	background-color: var(--perla) !important;
}
#sidr-secondary li a {
	color: var(--nero) !important;
	padding: 15px 0 !important;
}
#sidr-secondary ul#sidr-id-menu-secondary {
	padding-left: 0 !important;
}



/*
.df-container .df-ui .df-icon-list,
.df-container .df-ui .df-icon-grid-view,
.df-container .df-ui .df-ui-share,
.df-container .df-ui .df-ui-more {
	display: none !important;
}
*/
.df-container .df-ui .df-ui-page,
.df-container .df-ui .df-icon-list,
.df-container .df-ui .df-icon-grid-view {
	display: none !important;
}
/*
body.category-rivista .rivista-pdf .df-bg {
	background-color: transparent !important;
}
*/